.container {
  /* border: 1px solid red; */
  color: white;
  /* height: calc(100vh - 60px); */

  display: flex;
  gap: 3px;

  position: relative;
}

.blogNavbar {
  /* border: 1px solid blue; */
  height: 100%;
}

.right {
  flex-grow: 1;
  position: relative;
}

.body {
  /* background-color: var(--color-c2); */
  height: 100%;
  border-radius: 5px;
  flex-grow: 1;
}

.expand{
  /* border: 1px solid blue;  */
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;

  position: fixed;
  top: 110px;
  left: 10px;
  z-index: 1;
}

.expandSvg{
  box-shadow: 0px 0px 15px black; 
}
