.container {
  /* border: 1px solid blue; */
  width: 95vw;
  margin: auto;
  --padding: 5px;
}


.accordionItem {
  /* border: 1px solid white; */
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}


.accordionHeader {
  /* border: 1px solid blue; */
  background-color: var(--color4);
  padding: 10px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(5px);
}

.accordionHeader > div:nth-of-type(1) {
  /* border: 1px solid yellow; */
}

.accordionHeader > div:nth-of-type(2) {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
}


.accordionContent {
  background-color: var(--color5);
  max-height: 0;
  overflow: hidden;
  padding: 0px;
  transition: max-height 0.5s ease-in-out;
}

.show {
  /* padding: 5px; */
}

.downArrow {
  /* border: 1px solid red; */
  width: 20px;
  filter: invert(1);
  transition: transform 0.5s ease-in;
}

.iconUp {
  transform: rotateZ(-180deg);
  filter: invert(0);
}



@media screen and (max-width: 500px) {
  .container {
    width: 99vw;
  }
}
