.selectWrapper {
  /* border: 1px solid yellow; */
  background-color: transparent;
  color: white;
  position: relative;
}


.select{
  border: 1px solid var(--color1);
  background-color: transparent;
  width: 160px;
  border-radius: 100px;
  padding: 5px 20px 5px 10px;
  color: white;
  color: var(--color3);
  height: 35px;

}

.select:hover{
  background-color: var(--color2);
}


.downSvg{
  /* border: 1px solid red; */
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  filter: invert(1);
  transition: transform 0.3s ease-in;
}


.iconUp{
  transform: translateY(-50%) rotateZ(-180deg);
  /* filter: invert(0); */
}


.options {
  position: absolute;
  top: 110%;
  left: 0%;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: var(--color-c1); 
  border: 1px solid var(--color1);
  overflow: hidden;

  z-index: 1000;

  transition: all 0.6s;
  opacity: 0;
}

.option {
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
}

.option:hover {
  background-color: white !important;
  color: black !important;
}


.appear{
  opacity: 1;
  transform: scale(1.05);
}
