.container {
  border: 1px solid var(--color3);
  border-radius: 10px;
  width: min(350px, 99vw);
  height: fit-content;

  display: flex;
  flex-direction: column;
  /* gap: 10px; */

  overflow: hidden;
}


.heading {
  display: flex;
  justify-content: space-between;
  background-color: var(--color2);
  padding: 3px 7px;
}

.hitem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right {
  color: var(--color3);
}


.body {
  background-color: var(--color5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 10px 5px;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}


.country {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 5px; 
}


.flag {
  /* border: 1px solid cyan; */
  width: 30px;
  height: 20px;
}
