.container {
  /* background-color: var(--color-c2);  */
  background-color: var(--color4);
  border: 1px solid var(--color1);
  color: aliceblue;
  border-radius: 10px;
  width: fit-content; 
  padding: 5px 10px;
  min-height: 50px;
  /* width: 350px; */

  display: flex;
  align-items: center;
  gap: 10px;

  position: relative;
  z-index: 99;

  backdrop-filter: blur(5px);
}

.container input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(0) invert(1);
}

.container input{
  background-color: var(--color-c1);
  height: 45px;
  color: white;
  color: var(--color3);

  outline: 1px solid transparent; 
  transition: outline 0.3s; 
}  
  
.container input:hover{
  outline: 1px solid var(--color3);  
}
   

.first {
  display: flex;
  align-items: center;
  gap: 10px;
}


.second{
  /* border: 1px solid red; */
  /* display: flex; */
  /* gap: 100px; */
  /* align-items: center !important; */
}


.searchContainer {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
  /* height: 30px; */
  height: fit-content;
}


.searchContainerLatLong{
  display: flex;
  gap: 5px;
}

.inputContainer{
  /* border: 1px solid red; */
  position: relative;
}

.search {
  height: 100%;
  font-size: 20px;
  border-radius: 100px;
  border: none;
  padding: 15px 15px 5px 20px;  
  width: 100%;
  /* flex-grow: 1; */
}

.search + label {
  pointer-events: none;
  position: absolute;
  left: 18px;
  top: 25%;
  transition: all 0.3s ease-in-out;
  color: gray;

  font-size: 20px;
}
 
.search:focus + label,
.search:not(:placeholder-shown) + label {
  position: absolute;
  left: 20px;
  top: 10%;
  font-size: 10px;
}


.searchLatLong{
  width: 100%;
}


.buttonsContainer{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}


.searchBtn {
  /* background-color: var(--color4);  */
  background-color: transparent;
  color: white;
  border-radius: 100px;
  
  border: none;
  border: 1px solid var(--color1);
  height: 35px;
  flex-shrink: 0;
  padding: 5px 10px;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.searchBtn:hover {
  background-color: var(--color2);
}

.searchBtn:active {
  background-color: var(--color1);
}

.searchBtn:disabled{
  opacity: 0.5; 
  cursor: no-drop;
}


.searchMyLocation {
  /* border: 1px solid red !important; */
  color: var(--color2);
  border-radius: 100px;
  border: none;
  height: 35px;
  flex-shrink: 0;
  padding: 5px 10px;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
 
  outline-offset: 2px; 
  outline: 1px solid transparent; 

  transition: all 0.5s; 
}    
   
.searchMyLocation:hover{
  outline: 1px solid var(--color3);
}     
 

.latLongInput{

}

.ctnInput{

}

@media screen and (max-width: 1070px) {
  .container {
    flex-direction: column;
  }
} 

@media screen and (max-width: 875px) {
  .container {
    flex-direction: column;
  }
  .searchContainer {
    flex-direction: column;  
  }
} 

@media screen and (max-width: 370px) {
  .container{
    width: 95vw;
  }
} 