.container {
  /* border: 1px solid purple; */
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.SearchBox {
  /* border: 1px solid red; */
  padding: 0px 5px;
}

.loading {
  margin-top: 100px;
}

.Heading_CurrentDataBox {
  /* border: 1px solid pink; */
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 2px;
  
  display: flex;
  align-items: center;
  gap: 50px;
}



@media screen and (max-width: 810px) {
  .Heading_CurrentDataBox {
    flex-direction: column;
    gap: 25px;
  }
}
 