/* @font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron.ttf") format("truetype");
}

@font-face {
  font-family: "Teko";
  src: url("/fonts/Teko.ttf") format("truetype");
}

@font-face {
  font-family: "Doto";
  src: url("/fonts/Doto.ttf") format("truetype");
}

@font-face {
  font-family: "Iceland";
  src: url("/fonts/Iceland.ttf") format("truetype");
} */

:root {
  --color-c1: rgb(18, 18, 18);
  --color-c2: rgb(36, 35, 35);
  --color-c3: rgb(80, 78, 78);

  --toastify-color-light: #fff;
  --toastify-color-info: #3498db;
  --toastify-color-success: rgb(0, 255, 149);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgb(219, 92, 117);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  /* --font-orbitron: "Orbitron", sans-serif; */
  /* --font-teko: "Teko", sans-serif; */
  /* --font-doto: "Doto", sans-serif; */
  /* --font-iceland: "Iceland", sans-serif; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-family: var(--font-orbitron); */
  /* font-family: var(--font-teko); */
  /* font-family: var(--font-doto); */
  /* font-family: var(--font-iceland);      */
}

html, body {  
  overflow-y: scroll;
  scroll-behavior: smooth !important; 
}
 
body {
  /* background: black !important; */
  color: black;
  /* background: url("/subtle-prism.svg"); */
  background-color: black;

  background-size: cover;
  background-repeat: no-repeat;

  /* min-height: 100vh; */
  overflow-x: hidden;
}

html,
body {
  height: 100%; 
}


.blueMode {
  --color1: rgb(95, 158, 160);
  --color2: rgb(56, 96, 97);
  --color3: rgb(129, 239, 243);
  --color4: rgba(95, 158, 160, 0.3);
  --color5: rgba(95, 158, 160, 0.1);
  --color6: rgba(95, 158, 160, 0.2);
  --toastify-color-dark: var(--color2);
}

.greenMode {
  --color1: rgb(4, 170, 107);
  --color2: rgb(2, 97, 61);
  --color3: rgb(46, 231, 160);
  --color4: rgba(4, 170, 107, 0.3);
  --color5: rgba(4, 170, 107, 0.1);
  --color6: rgba(4, 170, 107, 0.2);
  --toastify-color-dark: var(--color2);
}

.pinkMode {
  --color1: rgb(255, 116, 139);
  --color2: rgb(161, 66, 82);
  --color3: rgb(255, 192, 203);
  --color4: rgba(255, 116, 139, 0.3);
  --color5: rgba(255, 116, 139, 0.1);
  --color6: rgba(255, 116, 139, 0.2);
  --toastify-color-dark: var(--color2);
}

.violetMode {
  --color1: rgb(192, 0, 192);
  --color2: purple;
  --color3: rgb(255, 0, 255);
  --color4: rgba(128, 0, 128, 0.4);
  --color5: rgba(128, 0, 128, 0.2);
  --color6: rgba(128, 0, 128, 0.3);
  --toastify-color-dark: var(--color2);
}


body.blueMode {
  cursor: url("/cursors/blue_32.png"), auto;
}
 
body.greenMode {
  cursor: url("/cursors/green_32.png"), auto;
}

body.pinkMode {
  cursor: url("/cursors/pink_32.png"), auto;
}

body.violetMode {
  cursor: url("/cursors/violet_32.png"), auto;
}
 
body.blueMode input,
body.blueMode svg,
body.blueMode button,
body.blueMode a {
  cursor: url("/cursors/blue_32.png"), auto;
}

body.greenMode input,
body.greenMode svg,
body.greenMode button,
body.greenMode a {
  cursor: url("/cursors/green_32.png"), auto;
}

body.pinkMode input,
body.pinkMode svg,
body.pinkMode button,
body.pinkMode a {
  cursor: url("/cursors/pink_32.png"), auto;
}
 
body.violetMode input,
body.violetMode svg,
body.violetMode button,
body.violetMode a {
  cursor: url("/cursors/violet_32.png"), auto;
}

 
.violet {
  color: rgb(207, 111, 226);
}
.violetBg {
  background-color: rgb(207, 111, 226) !important;
}

.blue {
  color: rgb(0, 0, 255);
}
.blueBg {
  background-color: rgb(0, 0, 255) !important;
}

.green {
  color: rgb(0, 255, 149);
}
.greenBg {
  background-color: rgb(0, 255, 149) !important;
}

.greenyellow {
  color: rgb(150, 250, 0);
}
.greenyellowBg {
  background-color: rgb(150, 250, 0) !important;
}

.yellow {
  color: rgb(255, 255, 0);
}
.yellowBg {
  background-color: rgb(255, 255, 0) !important;
}
 
.orange {
  color: orange;
}
.orangeBg {
  background-color: orange !important;
}

.pink {
  color: rgb(219, 92, 117);
}
.pinkBg {
  background-color: rgb(219, 92, 117) !important;
}

.red {
  color: rgb(255, 70, 70);
}
.redBg {
  background-color: rgb(255, 70, 70) !important;
}

.gray {
  color: gray;
}



/* Width and color of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--color-c1);
  border-radius: 20px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--color2);
  border-radius: 20px;
  /* border: 3px solid #444;  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color3);
}

/* Buttons (arrows at the top and bottom of scrollbar) */
::-webkit-scrollbar-button {
  /* background: #333; */
  display: none;
}

/* Corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #111;
  /* background: var(--color1);  */
}
