.container{
    border: 1px solid var(--color2);
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container h1{
    color: var(--color1);
}

.container p:nth-of-type(1){
    color: var(--color3);
}

.container p:nth-of-type(2){
    color: var(--color1);
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
}

.container a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: var(--color4);
    border: 1px solid var(--color2);
    color: var(--color3) !important; 
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgb(36, 36, 36);

    transition: all 0.3s;
}

.button:hover{
    /* transform: scale(1.03); */
    background-color: var(--color1);
    color: var(--color-c1) !important;
}
