.container{
    /* border: 1px solid red; */
    color: var(--color3);
    width: fit-content;
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container a{
    text-decoration: none;
    color: var(--color3);
}

.container > a{
    /* border: 1px solid blue; */
    border-radius: 10px;
    padding: 5px;
}


.card{
    background-color: var(--color4);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 

    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}


.githubImage{
    /* border: 1px solid red; */
    width: 50px;
    border-radius: 10px;
}


.links{
    background-color: var(--color5);
    padding: 5px;
    border-radius: 10px;

    display: flex;
    gap: 5px;
}

.links > a{
    background-color: var(--color4);
    border-radius: 10px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 0.3s;
}

.links > a:hover{
    transform: scale(1.05);
}


.downloadSvg{
    width: 50px;
}